@mixin responsive($bkr) {
  @if $bkr == toLarge {
    @media screen and (max-width: 960px) {
      @content;
    }
  }

  @if $bkr == toMedium {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @if $bkr == toSmall {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
}
